<ng-template #icon let-i>
    <ng-container *ngIf="i" [ngSwitch]="i.type">
        <i
            *ngSwitchCase="'icon'"
            class="sidebar-nav__item-icon"
            nz-icon
            [nzType]="i.value"
            [nzTheme]="i.theme"
            [nzSpin]="i.spin"
            [nzTwotoneColor]="i.twoToneColor"
            [nzIconfont]="i.iconfont"
            [nzRotate]="i.rotate"
        ></i>
        <i *ngSwitchCase="'iconfont'" class="sidebar-nav__item-icon" nz-icon [nzIconfont]="i.iconfont"></i>
        <img *ngSwitchCase="'img'" [src]="i.value" class="sidebar-nav__item-icon sidebar-nav__item-img"/>
        <span *ngSwitchCase="'svg'" class="sidebar-nav__item-icon sidebar-nav__item-svg" [innerHTML]="i.value"></span>
        <i *ngSwitchDefault class="sidebar-nav__item-icon {{ i.value }}"></i>
    </ng-container>
</ng-template>

<div class="alain-default__header-logo" ripper color="#000">
    <a [routerLink]="settings.user['indexPath']" (click)="toIndex()" class="header-link" style="user-select:none">
        <img *ngIf="logoPath" [src]="logoPath" class="header-logo-img" alt=""/>
        <span *ngIf="logoText" class="header-logo-text hidden-mobile">{{logoText}}</span>
    </a>
</div>

<div class="alain-default__nav-wrap">
    <ul class="alain-default__nav">
        <!-- Search Button -->
        <li class="hidden-pc">
            <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
                <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </li>

        <!-- 顶部一级导航 -->
        <ng-container *ngIf="list[0]" >
            <ng-container *ngFor="let group of list[0].children">
                <a (click)="toModule(group)"
                   [ngClass]="{ 'sidebar-nav__item-disabled': group['_hidden'] }"
                >
                    <li class="alain-default__nav-item header__nav-item" *ngIf="group.group">
                        <ng-template [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: group.icon }"></ng-template>
                        <span [innerHTML]="group.text"></span>
                    </li>
                </a>
            </ng-container>
        </ng-container>


        <!-- menu breadcrumbs -->
        <!-- 不在header中显示菜单路径 -->
        <!--<div class="hidden-mobile" *ngIf="settings.layout['breadcrumbs']">
            <div class="alain-default__nav-item" style="padding:0 10px 0 18px">
                <erupt-nav></erupt-nav>
            </div>
        </div>
        -->

        <li *ngIf="desc">
            <span nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="descTpl">
            </span>
            <ng-template #descTpl>
                <div [innerHTML]="desc|html">

                </div>
            </ng-template>
        </li>
    </ul>

    <ul class="alain-default__nav">
        <!-- 工具按钮 -->
        <ng-container *ngFor="let r of r_tools">
            <li (click)="customToolsFun($event,r)" [ngClass]="r.mobileHidden?'hidden-mobile':''">
                <div class="alain-default__nav-item" [title]="r.text">
                    <i class="fa {{r.icon}}"></i>
                </div>
            </li>&nbsp;
        </ng-container>

        <nz-divider nzType="vertical" class="hidden-mobile" *ngIf="r_tools.length>0"></nz-divider>

        <!-- 搜索菜单 -->
        <li *ngIf="menu">
            <div class="alain-default__nav-item" (click)="search()">
                <i nz-icon nzType="search"></i>
            </div>
        </li>

        <!-- 全屏按钮 -->
        <li class="hidden-mobile" (click)="toggleScreen()">
            <div class="alain-default__nav-item">
                <i nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"></i>
            </div>
        </li>

        <!-- 多语言功能 -->
        <li>
            <div class="alain-default__nav-item">
                <i18n-choice></i18n-choice>
            </div>
        </li>

        <!-- 文字RTL切换 -->
        <li style="display: none">
            <div class="alain-default__nav-item">
                <header-rtl></header-rtl>
            </div>
        </li>


        <!-- 界面配置 -->
        <li>
            <div class="alain-default__nav-item hidden-mobile" (click)="openDrawer()">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
            </div>
            <nz-drawer [nzClosable]="true" [nzVisible]="drawerVisible" [nzWidth]="260"
                       [nzBodyStyle]="{padding:'8px 24px'}" (nzOnClose)="closeDrawer()"
                       [nzTitle]="'setting.config' | translate" nzPlacement="right">
                <ng-container *nzDrawerContent>
                    <erupt-settings>

                    </erupt-settings>
                </ng-container>
            </nz-drawer>
        </li>

        <!-- 用户配置 -->
        <li>
            <header-user></header-user>
        </li>
    </ul>
</div>
